<!doctype html>
<html lang="en">

<head>
    <title>TTRPG</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Our CSS/JS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/landing.css') }}">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-dice-d20 fa-2xl" style="color: #ee5252;"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i>
                            Hub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-id-card"></i> Sheets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-feather-pointed"></i> Backstories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-wand-sparkles"></i> Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-ghost"></i> Compendium</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-pen-ruler"></i> Rules</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto"> <!-- This new list will align to the right -->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-user"></i> Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid main-content py-3">
        <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 g-4">
            <!-- HIROTH CARD -->
            <div class="col">
                <div class="card mb-2 bg-dark text-light" id="hirothBorder">
                    <div class="row pt-3 px-3">
                        <div class="col col-auto">
                            <img src="{{ url_for('static',filename='img/dragonborn.png') }}"
                                class="img-fluid rounded-start" width="100px">
                        </div>
                        <div class="col">
                            <h3 class="card-title mb-0">Hiroth</h3>
                            <h4 class="card-flavor mb-1" id="hiroth">"The Stormreaver"</h4>
                            <h5 class="card-subtext mb-0">1st Level Paladin</h5>
                            <h5 class="card-subtext mb-0">Blue Dragonborn</h5>
                            <h5 class="card-subtext">Male <i class="fa-solid fa-mars fa-sm male"></i></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <!-- AC -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 acHead titleP">Armour</p>
                                        <p><i class="fa-solid fa-shield-halved fa-sm"></i> 18</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Perception -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 perHead titleP">Perception</p>
                                        <p><i class="fa-solid fa-eye fa-sm"></i> 09</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Investigation -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 invHead titleP">Investigation</p>
                                        <p><i class="fa-solid fa-compass fa-sm"></i> 09</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Insight -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 insHead titleP">Insight</p>
                                        <p><i class="fa-regular fa-lightbulb fa-sm"></i> 11</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <!-- STRENGTH -->
                            <div class="col-4 mb-3">
                                <p class="mb-0 titleP">STR</p>
                                <p><i class="fa-solid fa-hand-fist fa-xs"></i> 16</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +3</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +3</p>
                            </div>
                            <!-- DEXTERITY -->
                            <div class="col-4">
                                <p class="mb-0 titleP">DEX</p>
                                <p><i class="fa-solid fa-person-running fa-xs"></i> 10</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +0</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +0</p>
                            </div>
                            <!-- CONSTITUTION -->
                            <div class="col-4">
                                <p class="mb-0 titleP">CON</p>
                                <p><i class="fa-solid fa-heart fa-xs"></i> 15</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +2</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +2</p>
                            </div>
                            <!-- INTELLIGENCE -->
                            <div class="col-4 mb-3">
                                <p class="mb-0 titleP">INT</p>
                                <p><i class="fa-solid fa-brain fa-xs"></i> 08</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> -1</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> -1</p>
                            </div>
                            <!-- WISDOM -->
                            <div class="col-4">
                                <p class="mb-0 titleP">WIS</p>
                                <p><i class="fa-solid fa-hat-wizard fa-xs"></i> 08</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> -1</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +1</p>
                            </div>
                            <!-- CHARISMA -->
                            <div class="col-4">
                                <p class="mb-0 titleP">CHR</p>
                                <p><i class="fa-solid fa-comments fa-xs"></i> 16</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +3</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +5</p>
                            </div>
                        </div>
                        <p class="card-text">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <!-- SAMIRA CARD -->
            <div class="col">
                <div class="card mb-2 bg-dark text-light" id="samiraBorder">
                    <div class="row pt-3 px-3">
                        <div class="col col-auto">
                            <img src="{{ url_for('static',filename='img/tiefling.png') }}"
                                class="img-fluid rounded-start" width="100px">
                        </div>
                        <div class="col">
                            <h3 class="card-title mb-0">Samira</h3>
                            <h4 class="card-flavor mb-1" id="samira">"Guardian Of The Forest"</h4>
                            <h5 class="card-subtext mb-0">1st Level Druid</h5>
                            <h5 class="card-subtext mb-0">Tiefling</h5>
                            <h5 class="card-subtext">Female <i class="fa-solid fa-venus fa-sm female"></i></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <!-- AC -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 acHead titleP">Armour</p>
                                        <p><i class="fa-solid fa-shield-halved fa-sm"></i> 18</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Perception -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 perHead titleP">Perception</p>
                                        <p><i class="fa-solid fa-eye fa-sm"></i> 09</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Investigation -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 invHead titleP">Investigation</p>
                                        <p><i class="fa-solid fa-compass fa-sm"></i> 09</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Insight -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 insHead titleP">Insight</p>
                                        <p><i class="fa-regular fa-lightbulb fa-sm"></i> 11</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <!-- STRENGTH -->
                            <div class="col-4 mb-3">
                                <p class="mb-0 titleP">STR</p>
                                <p><i class="fa-solid fa-hand-fist fa-xs"></i> 16</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +3</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +3</p>
                            </div>
                            <!-- DEXTERITY -->
                            <div class="col-4">
                                <p class="mb-0 titleP">DEX</p>
                                <p><i class="fa-solid fa-person-running fa-xs"></i> 10</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +0</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +0</p>
                            </div>
                            <!-- CONSTITUTION -->
                            <div class="col-4">
                                <p class="mb-0 titleP">CON</p>
                                <p><i class="fa-solid fa-heart fa-xs"></i> 15</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +2</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +2</p>
                            </div>
                            <!-- INTELLIGENCE -->
                            <div class="col-4 mb-3">
                                <p class="mb-0 titleP">INT</p>
                                <p><i class="fa-solid fa-brain fa-xs"></i> 08</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> -1</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> -1</p>
                            </div>
                            <!-- WISDOM -->
                            <div class="col-4">
                                <p class="mb-0 titleP">WIS</p>
                                <p><i class="fa-solid fa-hat-wizard fa-xs"></i> 08</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> -1</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +1</p>
                            </div>
                            <!-- CHARISMA -->
                            <div class="col-4">
                                <p class="mb-0 titleP">CHR</p>
                                <p><i class="fa-solid fa-comments fa-xs"></i> 16</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +3</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +5</p>
                            </div>
                        </div>
                        <p class="card-text">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <!-- MABEL CARD -->
            <div class="col">
                <div class="card mb-2 bg-dark text-light" id="mabelBorder">
                    <div class="row pt-3 px-3">
                        <div class="col col-auto">
                            <img src="{{ url_for('static',filename='img/half-elf.png') }}"
                                class="img-fluid rounded-start" width="100px">
                        </div>
                        <div class="col">
                            <h3 class="card-title mb-0">Mabel</h3>
                            <h4 class="card-flavor mb-1" id="mabel">"Arrow Of The Righteous"</h4>
                            <h5 class="card-subtext mb-0">1st Level Ranger</h5>
                            <h5 class="card-subtext mb-0">Half-Elf</h5>
                            <h5 class="card-subtext">Female <i class="fa-solid fa-venus fa-sm female"></i></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <!-- AC -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 acHead titleP">Armour</p>
                                        <p><i class="fa-solid fa-shield-halved fa-sm"></i> 18</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Perception -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 perHead titleP">Perception</p>
                                        <p><i class="fa-solid fa-eye fa-sm"></i> 09</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Investigation -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 invHead titleP">Investigation</p>
                                        <p><i class="fa-solid fa-compass fa-sm"></i> 09</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Insight -->
                            <div class="col-3 pasBlock">
                                <div class="row px-2">
                                    <div class="col pasInner">
                                        <p class="mb-0 insHead titleP">Insight</p>
                                        <p><i class="fa-regular fa-lightbulb fa-sm"></i> 11</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <!-- STRENGTH -->
                            <div class="col-4 mb-3">
                                <p class="mb-0 titleP">STR</p>
                                <p><i class="fa-solid fa-hand-fist fa-xs"></i> 16</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +3</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +3</p>
                            </div>
                            <!-- DEXTERITY -->
                            <div class="col-4">
                                <p class="mb-0 titleP">DEX</p>
                                <p><i class="fa-solid fa-person-running fa-xs"></i> 10</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +0</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +0</p>
                            </div>
                            <!-- CONSTITUTION -->
                            <div class="col-4">
                                <p class="mb-0 titleP">CON</p>
                                <p><i class="fa-solid fa-heart fa-xs"></i> 15</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +2</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +2</p>
                            </div>
                            <!-- INTELLIGENCE -->
                            <div class="col-4 mb-3">
                                <p class="mb-0 titleP">INT</p>
                                <p><i class="fa-solid fa-brain fa-xs"></i> 08</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> -1</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> -1</p>
                            </div>
                            <!-- WISDOM -->
                            <div class="col-4">
                                <p class="mb-0 titleP">WIS</p>
                                <p><i class="fa-solid fa-hat-wizard fa-xs"></i> 08</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> -1</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +1</p>
                            </div>
                            <!-- CHARISMA -->
                            <div class="col-4">
                                <p class="mb-0 titleP">CHR</p>
                                <p><i class="fa-solid fa-comments fa-xs"></i> 16</p>
                                <p class="card-subtext"><i class="fa-solid fa-dice-d20 fa-sm"></i> +3</p>
                                <p class="card-subtext"><i class="fa-solid fa-person-falling-burst fa-sm"></i> +5</p>
                            </div>
                        </div>
                        <p class="card-text">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static',filename='javascript/landing.js') }}"></script>
</body>

</html>